Repository natelandau/obsidian-metadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, poetry-check, interrogate, mypy, pytest

black:
  name: black
  entry: black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

interrogate:
  name: interrogate check
  entry: interrogate -c pyproject.toml src/
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy --config-file pyproject.toml
  language: system

pytest:
  name: pytest
  entry: poe test
  language: system
  pass_filenames: false

feat: add custom exceptions to metadata creation
  src/obsidian_metadata/models/exceptions.py
  src/obsidian_metadata/models/metadata.py
  src/obsidian_metadata/models/notes.py
  tests/metadata_frontmatter_test.py
Due: black, interrogate, mypy, pytest

refactor: utility function for finding inline metadata in content
  src/obsidian_metadata/_utils/__init__.py
  src/obsidian_metadata/_utils/utilities.py
  src/obsidian_metadata/models/metadata.py
  src/obsidian_metadata/models/notes.py
  tests/patterns_test.py
  tests/utilities_test.py
Due: black, interrogate, mypy, pytest

fix: use InlineTagError for exceptions parsing inline tags
  src/obsidian_metadata/models/exceptions.py
  src/obsidian_metadata/models/metadata.py
  src/obsidian_metadata/models/notes.py
  tests/metadata_frontmatter_test.py
  tests/metadata_inline_test.py
  tests/notes_test.py
Due: black, interrogate, mypy, pytest

fix: improve error messages
  src/obsidian_metadata/models/notes.py
Due: black, interrogate, mypy, pytest

build(deps): bump dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check, pytest

fix: use BadParameter exception when appropriate
  src/obsidian_metadata/_utils/alerts.py
  src/obsidian_metadata/_utils/utilities.py
  src/obsidian_metadata/cli.py
Due: black, interrogate, mypy, pytest

fix: add custom exceptions (#29)
  poetry.lock
  pyproject.toml
  src/obsidian_metadata/_utils/__init__.py
  src/obsidian_metadata/_utils/alerts.py
  src/obsidian_metadata/_utils/utilities.py
  src/obsidian_metadata/cli.py
  src/obsidian_metadata/models/exceptions.py
  src/obsidian_metadata/models/metadata.py
  src/obsidian_metadata/models/notes.py
  tests/metadata_frontmatter_test.py
  tests/metadata_inline_test.py
  tests/notes_test.py
  tests/patterns_test.py
  tests/utilities_test.py
Due: black, poetry-check, interrogate, mypy, pytest

bump(release): v0.11.0 → v0.11.1
  CHANGELOG.md
  pyproject.toml
  src/obsidian_metadata/__version__.py
Due: black, poetry-check, interrogate, mypy, pytest

fix: improve TOML error handing and documentation for Windows paths
  README.md
  src/obsidian_metadata/_config/config.py
  src/obsidian_metadata/models/vault.py
  tests/config_test.py
Due: black, interrogate, mypy, pytest

build(linting): pash ruff v2.0.260
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/obsidian_metadata/_utils/utilities.py
  src/obsidian_metadata/models/vault.py
Due: black, poetry-check, interrogate, mypy, pytest

fix: improve TOML error handing and docs for Windows paths (#31)
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  src/obsidian_metadata/_config/config.py
  src/obsidian_metadata/_utils/utilities.py
  src/obsidian_metadata/models/vault.py
  tests/config_test.py
Due: black, poetry-check, interrogate, mypy, pytest

fix: convert charsets to utf-8 when necessary
  poetry.lock
  pyproject.toml
  src/obsidian_metadata/models/notes.py
  tests/notes_test.py
Due: black, poetry-check, interrogate, mypy, pytest

fix: convert charsets to utf-8 when necessary (#32)
  poetry.lock
  pyproject.toml
  src/obsidian_metadata/models/notes.py
  tests/notes_test.py
Due: black, poetry-check, interrogate, mypy, pytest

feat: greatly improve capturing metadata all formats of inline metadata
  README.md
  poetry.lock
  pyproject.toml
  src/obsidian_metadata/_utils/__init__.py
  src/obsidian_metadata/_utils/console.py
  src/obsidian_metadata/_utils/utilities.py
  src/obsidian_metadata/models/__init__.py
  src/obsidian_metadata/models/application.py
  src/obsidian_metadata/models/enums.py
  src/obsidian_metadata/models/metadata.py
  src/obsidian_metadata/models/notes.py
  src/obsidian_metadata/models/parsers.py
  src/obsidian_metadata/models/patterns.py
  src/obsidian_metadata/models/questions.py
  src/obsidian_metadata/models/vault.py
  tests/alerts_test.py
  tests/application_test.py
  tests/cli_test.py
  tests/config_test.py
  tests/conftest.py
  tests/fixtures/broken_frontmatter.md
  tests/fixtures/sample_note.md
  tests/fixtures/test_vault/sample_note.md
  tests/fixtures/test_vault/test1.md
  tests/helpers.py
  tests/metadata_frontmatter_test.py
  tests/metadata_inline_test.py
  tests/metadata_tags_test.py
  tests/metadata_test.py
  tests/metadata_vault_test.py
  tests/notes/note_init_test.py
  tests/notes/note_methods_test.py
  tests/notes_test.py
  tests/parsers_test.py
  tests/patterns_test.py
  tests/questions_test.py
  tests/utilities_test.py
  tests/vault_test.py
Due: black, poetry-check, interrogate, mypy, pytest

feat: greatly improve capturing all formats of inline metadata (#41)
  README.md
  poetry.lock
  pyproject.toml
  src/obsidian_metadata/_utils/__init__.py
  src/obsidian_metadata/_utils/console.py
  src/obsidian_metadata/_utils/utilities.py
  src/obsidian_metadata/models/__init__.py
  src/obsidian_metadata/models/application.py
  src/obsidian_metadata/models/enums.py
  src/obsidian_metadata/models/metadata.py
  src/obsidian_metadata/models/notes.py
  src/obsidian_metadata/models/parsers.py
  src/obsidian_metadata/models/patterns.py
  src/obsidian_metadata/models/questions.py
  src/obsidian_metadata/models/vault.py
  tests/alerts_test.py
  tests/application_test.py
  tests/cli_test.py
  tests/config_test.py
  tests/conftest.py
  tests/fixtures/broken_frontmatter.md
  tests/fixtures/sample_note.md
  tests/fixtures/test_vault/sample_note.md
  tests/fixtures/test_vault/test1.md
  tests/helpers.py
  tests/metadata_frontmatter_test.py
  tests/metadata_inline_test.py
  tests/metadata_tags_test.py
  tests/metadata_test.py
  tests/metadata_vault_test.py
  tests/notes/note_init_test.py
  tests/notes/note_methods_test.py
  tests/notes_test.py
  tests/parsers_test.py
  tests/patterns_test.py
  tests/questions_test.py
  tests/utilities_test.py
  tests/vault_test.py
Due: black, poetry-check, interrogate, mypy, pytest

build(deps): bump ruff to v0.0.264
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/obsidian_metadata/_utils/utilities.py
Due: black, poetry-check, interrogate, mypy, pytest

build(deps): bump all dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check, pytest

ci: update harden security runner
  .github/workflows/automated-tests.yml
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/devcontainer-checker.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
  .github/workflows/pypi-release.yml
Due: none

ci: update harden security runner (#42)
  .github/workflows/automated-tests.yml
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/devcontainer-checker.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
  .github/workflows/pypi-release.yml
Due: none

fix: only ask for valid metadata types when adding new metadata
  src/obsidian_metadata/models/application.py
  src/obsidian_metadata/models/questions.py
  tests/application_test.py
Due: black, interrogate, mypy, pytest

build(deps): bump dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check, pytest

fix: allow markdown inline code in metadata values
  src/obsidian_metadata/models/notes.py
  tests/notes/note_init_test.py
  tests/parsers_test.py
Due: black, interrogate, mypy, pytest

build(deps): update sh from 2.0.3 to 2.0.4
  poetry.lock
  pyproject.toml
Due: poetry-check, pytest

bump(release): v0.11.1 → v0.12.0
  CHANGELOG.md
  pyproject.toml
  src/obsidian_metadata/__version__.py
Due: black, poetry-check, interrogate, mypy, pytest

build(deps): bump dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/obsidian_metadata/_config/config.py
  src/obsidian_metadata/_utils/alerts.py
  src/obsidian_metadata/_utils/utilities.py
  src/obsidian_metadata/models/notes.py
  src/obsidian_metadata/models/questions.py
  src/obsidian_metadata/models/vault.py
Due: black, poetry-check, interrogate, mypy, pytest

build(deps): updte dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/obsidian_metadata/_utils/alerts.py
  src/obsidian_metadata/_utils/utilities.py
  src/obsidian_metadata/models/notes.py
Due: black, poetry-check, interrogate, mypy, pytest

build(precommit): lint typos
  .pre-commit-config.yaml
  .typos.toml
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  scripts/pre-commit-hook.sh
Due: poetry-check, pytest

fix(notes): preserve file encoding when writing to filesystem
  poetry.lock
  src/obsidian_metadata/models/notes.py
  tests/fixtures/CP1250.md
  tests/notes/note_init_test.py
  tests/notes/note_methods_test.py
  tests/vault_test.py
Due: black, interrogate, mypy, pytest

fix(notes): preserve file encoding when writing to filesystem (#59)
  poetry.lock
  src/obsidian_metadata/models/notes.py
  tests/fixtures/CP1250.md
  tests/notes/note_init_test.py
  tests/notes/note_methods_test.py
  tests/vault_test.py
Due: black, interrogate, mypy, pytest

bump(release): v0.12.0 → v0.12.1
  CHANGELOG.md
  pyproject.toml
  src/obsidian_metadata/__version__.py
Due: black, poetry-check, interrogate, mypy, pytest

build(deps): bump dependencies
  .pre-commit-config.yaml
  poetry.lock
  src/obsidian_metadata/models/vault.py
Due: black, interrogate, mypy, pytest

Path conditions:
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  interrogate: any of: \.py$
  mypy: any of: \.py$, but not: tests/
  pytest: any of: (?x)^(
src/|
tests/|
poetry\.lock|
pyproject\.toml
)

