Repository natelandau/obsidian-metadata: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, poetry-check, interrogate, mypy, pytest

black:
  name: black
  entry: black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

interrogate:
  name: interrogate check
  entry: interrogate -c pyproject.toml src/
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy --config-file pyproject.toml
  language: system

pytest:
  name: pytest
  entry: poe test
  language: system
  pass_filenames: false

build: update ruff and pass linting
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/obsidian_metadata/models/application.py
  src/obsidian_metadata/models/metadata.py
  src/obsidian_metadata/models/notes.py
  src/obsidian_metadata/models/vault.py
  tests/vault_test.py
Due: black, poetry-check, interrogate, mypy, pytest

build(deps): bump dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check, pytest

fix: improve error handling when frontmatter malformed
  src/obsidian_metadata/models/metadata.py
  src/obsidian_metadata/models/notes.py
  tests/fixtures/broken_frontmatter.md
  tests/metadata_test.py
  tests/notes_test.py
Due: black, interrogate, mypy, pytest

refactor: use single console instance
  src/obsidian_metadata/_utils/alerts.py
  src/obsidian_metadata/_utils/console.py
  src/obsidian_metadata/_utils/utilities.py
  src/obsidian_metadata/cli.py
  src/obsidian_metadata/models/application.py
  src/obsidian_metadata/models/metadata.py
  src/obsidian_metadata/models/notes.py
  src/obsidian_metadata/models/vault.py
Due: black, interrogate, mypy, pytest

bump(release): v0.6.0 → v0.6.1
  CHANGELOG.md
  pyproject.toml
  src/obsidian_metadata/__version__.py
Due: black, poetry-check, interrogate, mypy, pytest

build(deps): bump deps
  poetry.lock
  pyproject.toml
Due: poetry-check, pytest

feat: select insert location for new inline metadata
  src/obsidian_metadata/models/notes.py
  src/obsidian_metadata/models/vault.py
  tests/notes_test.py
  tests/vault_test.py
Due: black, interrogate, mypy, pytest

feat: transpose metadata between frontmatter and inline
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  src/obsidian_metadata/_config/config.py
  src/obsidian_metadata/_utils/utilities.py
  src/obsidian_metadata/models/enums.py
  src/obsidian_metadata/models/notes.py
  src/obsidian_metadata/models/vault.py
  tests/application_test.py
  tests/config_test.py
  tests/conftest.py
  tests/metadata_test.py
  tests/notes_test.py
Due: black, poetry-check, interrogate, mypy, pytest

ci: fix ruff linting
  .github/workflows/automated-tests.yml
  src/obsidian_metadata/_utils/utilities.py
  src/obsidian_metadata/models/metadata.py
Due: black, interrogate, mypy, pytest

fix: fix typo and sort order of options
  src/obsidian_metadata/models/application.py
  src/obsidian_metadata/models/questions.py
Due: black, interrogate, mypy, pytest

fix: exit after committing changes
  src/obsidian_metadata/models/application.py
Due: black, interrogate, mypy, pytest

docs: add new screencast
  README.md
Due: none

bump(release): v0.6.1 → v0.7.0
  CHANGELOG.md
  pyproject.toml
  src/obsidian_metadata/__version__.py
Due: black, poetry-check, interrogate, mypy, pytest

fix: add `back` option to transpose menus
  src/obsidian_metadata/models/application.py
Due: black, interrogate, mypy, pytest

feat: move inline metadata to specific location in note
  src/obsidian_metadata/models/application.py
  src/obsidian_metadata/models/notes.py
  src/obsidian_metadata/models/questions.py
  src/obsidian_metadata/models/vault.py
  tests/application_test.py
  tests/cli_test.py
  tests/conftest.py
  tests/fixtures/test_vault/test1.md
  tests/notes_test.py
  tests/vault_test.py
Due: black, interrogate, mypy, pytest

feat: move inline metadata to specific location in note (#27)
  src/obsidian_metadata/models/application.py
  src/obsidian_metadata/models/notes.py
  src/obsidian_metadata/models/questions.py
  src/obsidian_metadata/models/vault.py
  tests/application_test.py
  tests/cli_test.py
  tests/conftest.py
  tests/fixtures/test_vault/test1.md
  tests/notes_test.py
  tests/vault_test.py
Due: black, interrogate, mypy, pytest

docs: include move metadata in documentation
  README.md
  src/obsidian_metadata/cli.py
Due: black, interrogate, mypy, pytest

bump(release): v0.7.0 → v0.8.0
  CHANGELOG.md
  pyproject.toml
  src/obsidian_metadata/__version__.py
Due: black, poetry-check, interrogate, mypy, pytest

fix: improve logging to screen
  src/obsidian_metadata/_utils/alerts.py
Due: black, interrogate, mypy, pytest

style: pass additional linters
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/obsidian_metadata/_config/config.py
  src/obsidian_metadata/_utils/utilities.py
  src/obsidian_metadata/cli.py
  src/obsidian_metadata/models/application.py
  src/obsidian_metadata/models/metadata.py
  src/obsidian_metadata/models/notes.py
  src/obsidian_metadata/models/questions.py
  src/obsidian_metadata/models/vault.py
Due: black, poetry-check, interrogate, mypy, pytest

build: add script to bump dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  scripts/update_dependencies.py
  src/obsidian_metadata/models/application.py
  src/obsidian_metadata/models/notes.py
  src/obsidian_metadata/models/vault.py
Due: black, poetry-check, interrogate, mypy, pytest

feat: bulk update metadata from a CSV file
  README.md
  poetry.lock
  pyproject.toml
  src/obsidian_metadata/_utils/alerts.py
  src/obsidian_metadata/cli.py
  src/obsidian_metadata/models/application.py
  src/obsidian_metadata/models/metadata.py
  src/obsidian_metadata/models/notes.py
  src/obsidian_metadata/models/questions.py
  src/obsidian_metadata/models/vault.py
  tests/alerts_test.py
  tests/metadata_test.py
  tests/notes_test.py
  tests/vault_test.py
Due: black, poetry-check, interrogate, mypy, pytest

fix: improve validation of bulk imports
  README.md
  src/obsidian_metadata/_utils/__init__.py
  src/obsidian_metadata/_utils/utilities.py
  src/obsidian_metadata/models/application.py
  src/obsidian_metadata/models/vault.py
  tests/notes_test.py
  tests/utilities_test.py
  tests/vault_test.py
Due: black, interrogate, mypy, pytest

fix: ensure frontmatter values are unique within a key
  src/obsidian_metadata/models/metadata.py
  tests/alerts_test.py
  tests/application_test.py
  tests/metadata_test.py
  tests/notes_test.py
Due: black, interrogate, mypy, pytest

fix: find more instances of inline metadata
  src/obsidian_metadata/models/metadata.py
  src/obsidian_metadata/models/patterns.py
  tests/metadata_frontmatter_test.py
  tests/metadata_inline_test.py
  tests/metadata_test.py
  tests/patterns_test.py
Due: black, interrogate, mypy, pytest

bump(release): v0.8.0 → v0.9.0
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  src/obsidian_metadata/__version__.py
Due: black, poetry-check, interrogate, mypy, pytest

docs: cleanup readme
  README.md
Due: none

fix(csv-import): fail if `type` does not validate
  src/obsidian_metadata/_utils/utilities.py
  tests/utilities_test.py
Due: black, interrogate, mypy, pytest

refactor: cleanup rename and delete from dict functions
  src/obsidian_metadata/_utils/__init__.py
  src/obsidian_metadata/_utils/utilities.py
  src/obsidian_metadata/models/metadata.py
  tests/metadata_frontmatter_test.py
  tests/metadata_inline_test.py
  tests/metadata_tags_test.py
  tests/metadata_test.py
  tests/metadata_vault_test.py
  tests/utilities_test.py
Due: black, interrogate, mypy, pytest

refactor: remove unused code
  src/obsidian_metadata/models/vault.py
  tests/vault_test.py
Due: black, interrogate, mypy, pytest

feat: add `--export-template` cli option
  README.md
  poetry.lock
  pyproject.toml
  scripts/update_dependencies.py
  src/obsidian_metadata/cli.py
  tests/cli_test.py
Due: black, poetry-check, interrogate, mypy, pytest

refactor: pave the way for non-regex key/value deletions
  src/obsidian_metadata/models/application.py
  src/obsidian_metadata/models/metadata.py
  src/obsidian_metadata/models/notes.py
  src/obsidian_metadata/models/questions.py
  src/obsidian_metadata/models/vault.py
  tests/application_test.py
  tests/metadata_frontmatter_test.py
  tests/metadata_inline_test.py
  tests/notes_test.py
  tests/questions_test.py
  tests/vault_test.py
Due: black, interrogate, mypy, pytest

fix: `--export-csv` exports csv not json
  src/obsidian_metadata/models/application.py
Due: black, interrogate, mypy, pytest

fix: `--export-template` correctly exports all notes
  src/obsidian_metadata/cli.py
  src/obsidian_metadata/models/application.py
  src/obsidian_metadata/models/vault.py
Due: black, interrogate, mypy, pytest

bump(release): v0.9.0 → v0.10.0
  CHANGELOG.md
  pyproject.toml
  src/obsidian_metadata/__version__.py
Due: black, poetry-check, interrogate, mypy, pytest

test: improve tests for utilities
  src/obsidian_metadata/_utils/utilities.py
  tests/utilities_test.py
Due: black, interrogate, mypy, pytest

build(deps): bump dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check, pytest

feat: add `--import-csv` option to cli
  README.md
  poetry.lock
  pyproject.toml
  src/obsidian_metadata/cli.py
  src/obsidian_metadata/models/application.py
  src/obsidian_metadata/models/questions.py
Due: black, poetry-check, interrogate, mypy, pytest

bump(release): v0.10.0 → v0.11.0
  CHANGELOG.md
  pyproject.toml
  src/obsidian_metadata/__version__.py
Due: black, poetry-check, interrogate, mypy, pytest

Path conditions:
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  interrogate: any of: \.py$
  mypy: any of: \.py$, but not: tests/
  pytest: any of: (?x)^(
src/|
tests/|
poetry\.lock|
pyproject\.toml
)

